html{
	font-size: 16px;
}

body{
	width: fit-content;
	font-size: 20px;
	font-weight: 500; 
	bottom: 3rem;
	padding: 3rem 1rem;
} 

div#topBar {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 1rem;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
}

div#topBar #time{
	padding-left:1rem;
	margin-left: auto;
}

div#main {
	display: flex;
}

div.col{
	padding: 1rem;
	flex-basis: 50%;
}

table { 
	
}  

table tr:nth-child(-n+2) {
	display: none;
}

table tr td {
	background: white;
	padding: 0.3rem 0.5rem;
}

table tr td:first-child{
	font-size: 1.3rem;
	/* max-width: 8em; */
	font-weight: 600;
	text-align: center;
}

table, tr, td{
	border: 0
}

table tr:not(.emptyRow):nth-child(3) td{
	border-top: .15rem solid #898989;
}

table tr:not(.emptyRow) td{
	border-bottom: .15rem solid #898989;
	border-right: .15rem solid #898989;
}

table tr:not(.emptyRow) td:first-child{
	border-left: .15rem solid #898989;
}

table tr td:nth-child(4),
table tr td:nth-child(6),
table tr td:nth-child(8) {
	color: red;
    border-left: 0;
}

table tr td:nth-child(3),
table tr td:nth-child(5),
table tr td:nth-child(7) {
    border-right: 0
}

table tr.emptyRow td{
	color:white;
	border-bottom: .15rem solid #898989;
	height: 1.6rem;
}

table tr td:nth-child(n+2) div{
	text-wrap: nowrap;
}

table tr td:first-child div{
	/* text-wrap: nowrap; */
	width:9rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	text-overflow: ellipsis; 
}
