body{
	font-size: 19px;
	padding-top: 3em;
	padding-bottom: 3em;
}  

div#main {
	display: flex;
}

div#time {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 0 1em;
}

div.col{
	padding: 15px;
	
}

table {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: .1em;
	border-bottom-width: .1em;
	border-color: #878787;
	font-weight: 600;
}

table tr:nth-child(3) td{
	/* border-top-width: 2px */
}

table tr, table tr td{
	border: .1em solid #878787;
} 

table tr td:last-child{
	border-right-width: .2em;
}

table tr:nth-child(-n+2) {
	display: none;
}

table tr td {
	background: white;
	padding: .3em .5em;
}

table tr td:first-child{
	font-size: 1.3em;
	max-width: 8em;
	font-weight: 600;
	text-align: center;
	border-left-width: .2em;
}

table tr td:nth-child(4),
table tr td:nth-child(6),
table tr td:nth-child(8) {
	color: red;
    border-left: 0;
}

table tr td:nth-child(3),
table tr td:nth-child(5),
table tr td:nth-child(7) {
    border-right: 0
} 

table tr.emptyRow td{
	color:white;
	border-left: 0; 
	border-right: 0;
}
